version: '3'

services:
  node-app:
    build: .
    image: node-app
    ports:
      - '3000:3000'
    volumes:
      - .:/usr/node-app
    networks:
      - node-network
volumes:
  dbdata:

networks:
  node-network:
    driver: bridge
